@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$padding_content: 15%;
$border_color: #E4E4E7;
$border_line: 2px solid $border_color;
$header_footer_height: 6vh;
$color_dark_grey: #484848;
$color_light_grey: #95959C;
$color_meduim_grey: #787880;
$color_blue: #008EFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: $color_dark_grey;
    width: 100%;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

.active-area {
    width: 75vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: $header_footer_height;
    padding-right: $padding_content;
    padding-left: $padding_content;
    border-bottom: $border_line;

    display: flex;
    align-items: center;

    color: $color_dark_grey;
    font-weight: 700;
    font-size: 18px;
}

.footer {
    height: $header_footer_height;
    padding-right: $padding_content;
    padding-left: $padding_content;
    border-top: $border_line;

    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;        
    gap: 6px;
    text-align: center;         
    
    color: $color_light_grey;
    font-size: 12px;
}

.clickable:hover {
    cursor: pointer;
}

.bottom_group {
    display: flex;
    color: $color_light_grey;
}

.bottom_group:hover {
    color: $color_light_grey;
}

.eula {
    margin-right: 30px;
}

.content {
    padding-right: $padding_content;
    padding-left: $padding_content;
    text-align: center;
}

// Get Started Block

.get_started_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.get_started_block p {
    font-size: 12px;
    margin: 0;
}

.qr {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: $border_line;
    margin-right: 3px;
}

.button {
    width: 250px;
    height: 45px;
    background: $color_blue;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .active-area {
        width: 92vw;
    }

    .header {
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1vh;
    }

    .button {
        width: 35vh;
    }


    .scanQR {
        display: none;
    }

    .content {
        padding-right: 10%;
        padding-left: 10%;
    }

    .footer {
        flex-direction: column;
        justify-content: space-evenly;
    }
}